
/*Master Styles */

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background-color: #edf0f0;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #777;
    background-color: #fff;
    margin-bottom: 45px;
}

#header-name {
    background-color: #4aaaa5;
    color: #fff;
    margin-left: 35px; 
    padding: 20px;
    margin-left: 4.1em;
}

nav {
    margin-right: 8.9em;
}

.nav-link{
    margin-right: 12px;
    font-size: 20px;
}

.nav-link:nth-of-type(3) {
    margin-right: 0;
}

a {
    text-decoration: none;
    color: #777;
}

h1, h2, h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#container {
   margin: auto;
   width: 70%;
   border: 1px solid #dee3df;
   background-color: #fff;
   padding: 30px;
}

section {
    margin-top: 15px;
    line-height: 1.5em;
}

h2 {
    margin-bottom: 15px;
    color: #4aaaa5;
}

.push {
    height: 50px;
}

footer {
    text-align: center;
    border-top: 10px solid #4aaaa5;
    background-color: #777;
    color: #d7ded9;
    margin-top: 45px;
    padding-top: 20px;
    padding-bottom: 10px;
}

/* About Me Styles */

#imgofme {
    width: 170px;
    height: 150px;
    float: left;
    padding: 20px 20px 10px 0px;
}

.about-me-p {
    padding-top: 20px;
    font-size: 20px;
}

/* Portfolio Styles */

.grid-container {
    display: inline-grid;
    grid-template-columns: 50% 50%;
}

.grid-item {
    width: 300px;
    height: 240px;
    margin: 25px;
    font-size: 30px;
    background-image: url('../img/portfolio-about-me.png');
    background-position: center;
}

.grid-item:nth-of-type(2) {
    background-image: url('../img/portfolio-gallery.png');
}

.grid-item:nth-of-type(3) {
    background-image: url('../img/portfolio-contact.png');
}

.grid-item:nth-of-type(4) {
    background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/socialmedia/apple/225/black-question-mark-ornament_2753.png');
}

.text-drop {
    margin-top: 180px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
}

.text-drop a {
    text-decoration: none;
    color: white;
}

.text-drop a:hover {
    color:#d1e687;
    transition: all .4s ease;
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #b8c7e0;
}

/* Contact Form Styles */

form {
    font-size: 20px;
    margin-top: 30px;
}

form input {
    font-size: 20px;
    width: 51.5em;
    margin: 20px 0px 20px 0px;
    padding: 15px;
}

form input:nth-of-type(3) {
    height: 200px;
}

label {
    display: block;
}

#submit {
    display: block;
    background-color: #4aaaa5;
    color: white;
    width: 12em;
}