* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background-color: #edf0f0;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #777;
    background-color: #fff;
    margin-bottom: 45px;
}

#header-name {
    background-color: #4aaaa5;
    color: #fff;
    margin-left: 35px; 
    padding: 20px;
    margin-left: 4.1em;
}

nav {
    margin-right: 8.5em;
}

.nav-link{
    margin-right: 12px;
    font-size: 20px;
}

.nav-link:nth-of-type(3) {
    margin-right: 0;
}

a {
    text-decoration: none;
    color: #777;
}

h1, h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#container {
   margin: auto;
   width: 70%;
   border: 1px solid #dee3df;
   background-color: #fff;
   padding: 30px;
}

section {
    margin-top: 15px;
    line-height: 1.5em;
}

#imgofme {
    width: 170px;
    height: 150px;
    float: left;
    padding: 20px 20px 10px 0px;
}

p {
    padding-top: 20px;
    font-size: 20px;
}

h2 {
    margin-bottom: 15px;
    color: #4aaaa5;
}

.push {
    height: 50px;
}

footer {
    text-align: center;
    border-top: 10px solid #4aaaa5;
    background-color: #777;
    color: #d7ded9;
    margin-top: 45px;
    padding-top: 20px;
    padding-bottom: 10px;
}